<<<<<<< HEAD
body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.home {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.span-icon {
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.pad {
    padding: 8px;
}

.pad:hover {
    border: #fff solid ;
    border-radius: 100%;
}

.section-padding {
    padding: 100px 0px;
}

.sub-title {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.h-about {
    font-weight: 800;
    margin-bottom: 5px;
}

.p-about {
    width: 80%;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
    padding-top: 20px;
}

.skills .item {
    margin-top: 0px;
}

.skills-progress {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
}

.h6 {
    font-size: 13px;
    color: #fff;
    z-index: 2;

}

.skills-span {
    left: 0;
    width: 80%;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span1 {
    width: 80%;
    left: 0;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span2 {
    width: 90%;
    left: 0;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
    
}

.skills-span1::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.skills-span2::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.serv-head {
    margin-bottom: 80px;
    text-align: center;
}

.head-text {
    font-weight: 900;
    font-size: 40px;
}

.icon {
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-left: 40%;
}

h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}

.clients {
    background: #f7f7f7
}

.slid {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
}

.carousel-caption {
    color: #999 !important;
}

.carousel-caption.caption-below {
    position: static !important;
    color: #333 !important;
    padding-top: 10px;
}

.carousel-caption.caption-below {
    padding: 50px !important;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padd {
    padding: 50px 0px;
}

.content-p {
    color: #999;
}

.form-color {
    background-color: #f4f4f4;

}

.contact-buttom {
    border-radius: 5px;
    padding: 8px 40px;
    transition: all .5s;
}

.contact-buttom:hover {
    background: transparent !important;
    color: #343434 !important;
}
.about-buttom1{
    border-radius: 5px;
    padding: 5px 20px;
    transition: all .5s;
    display: inline-block;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.about-buttom{
    border-radius: 5px;
    padding: 5px 20px;
    transition: all .5s;
    border: #000 solid 2px;
}
.about-buttom:hover{
    background-color: #fff !important;;
    color: #1c1c1c !important;
    
}
.about-buttom1:hover{
   
    color: #fff !important;
    background-color: #1c1c1c !important;
}

.icon-hover:hover{
    background-color: black;
    color: #fff;
}

/* Entrance animations for hero */
.anim-hidden{
    opacity: 0;
    transform: translateY(20px);
}

.anim-in{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms ease-out, transform 700ms ease-out;
}

/* small utility to stagger children */
.stagger-children > * {
    opacity: 0;
    transform: translateY(10px);
}

.stagger-children.in > * {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 600ms ease-out, transform 600ms ease-out;
}

/* Show full navbar on small screens (mobile) */
@media (max-width: 991.98px) {
  .navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
  }
  .navbar-toggler {
    display: none !important;
  }
  .navbar .navbar-nav {
    flex-direction: column;
    gap: 8px;
  }
  .navbar-nav .nav-link {
    padding: .5rem 1rem;
  }
}
=======
body {
    font-family: sans-serif;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.home {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
}

.span-icon {
    background: rgba(0, 0, 0, 0.3);
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    padding: 10px;
}

ul {
    list-style-type: none;
}

.pad {
    padding: 8px;
}

.pad:hover {
    border: #fff solid ;
    border-radius: 100%;
}

.section-padding {
    padding: 100px 0px;
}

.sub-title {
    color: #999;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.h-about {
    font-weight: 800;
    margin-bottom: 5px;
}

.p-about {
    width: 80%;
    line-height: 1.6;
    margin: 0;
    font-size: 15px;
    color: #748182;
    padding-top: 20px;
}

.skills .item {
    margin-top: 0px;
}

.skills-progress {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #f7f7f7;
    -webkit-box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
    box-shadow: 0px 2px 7px rgb(0 0 0 / 15%) inset;
}

.h6 {
    font-size: 13px;
    color: #fff;
    z-index: 2;

}

.skills-span {
    left: 0;
    width: 80%;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span1 {
    width: 80%;
    left: 0;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span2 {
    width: 90%;
    left: 0;
    border-radius: 5px;
    background-color: #1c1c1c;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.skills-span::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
    
}

.skills-span1::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.skills-span2::after {
    content: attr(data-value);
    position: absolute;
    top: 6px;
    right: 10px;
    font-size: 11px;
    color: #fff;
}

.serv-head {
    margin-bottom: 80px;
    text-align: center;
}

.head-text {
    font-weight: 900;
    font-size: 40px;
}

.icon {
    font-size: 30px;
    margin-bottom: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    -webkit-transition: all .5s;
    transition: all .5s;
    margin-left: 40%;
}

h6 {
    margin-bottom: 15px;
    font-weight: 800;
    font-size: 18px;
}

.clients {
    background: #f7f7f7
}

.slid {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
}

.carousel-caption {
    color: #999 !important;
}

.carousel-caption.caption-below {
    position: static !important;
    color: #333 !important;
    padding-top: 10px;
}

.carousel-caption.caption-below {
    padding: 50px !important;
}

.carousel-item img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.padd {
    padding: 50px 0px;
}

.content-p {
    color: #999;
}

.form-color {
    background-color: #f4f4f4;

}

.contact-buttom {
    border-radius: 5px;
    padding: 8px 40px;
    transition: all .5s;
}

.contact-buttom:hover {
    background: transparent !important;
    color: #343434 !important;
}
.about-buttom1{
    border-radius: 5px;
    padding: 5px 20px;
    transition: all .5s;
    display: inline-block;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.about-buttom{
    border-radius: 5px;
    padding: 5px 20px;
    transition: all .5s;
    border: #000 solid 2px;
}
.about-buttom:hover{
    background-color: #fff !important;;
    color: #1c1c1c !important;
    
}
.about-buttom1:hover{
   
    color: #fff !important;
    background-color: #1c1c1c !important;
}

.icon-hover:hover{
    background-color: black;
    color: #fff;
}

/* Entrance animations for hero */
.anim-hidden{
    opacity: 0;
    transform: translateY(20px);
}

.anim-in{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 700ms ease-out, transform 700ms ease-out;
}

/* small utility to stagger children */
.stagger-children > * {
    opacity: 0;
    transform: translateY(10px);
}

.stagger-children.in > * {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 600ms ease-out, transform 600ms ease-out;
}

/* Show full navbar on small screens (mobile) */
@media (max-width: 991.98px) {
    .navbar-collapse.collapse {
        display: block !important;
        visibility: visible !important;
        height: auto !important;
    }
    .navbar-toggler {
        display: none !important;
    }
    .navbar .navbar-nav {
        flex-direction: column;
        gap: 8px;
    }
    .navbar-nav .nav-link {
        padding: .5rem 1rem;
    }
}
>>>>>>> 953815f (add responsive navbar styles for mobile screens)
